services:
  api:
    container_name: mivro_api
    build: .
    env_file: .env
    ports:
      - "5000:5000"
    volumes:
      - "./server:/app/server"
      - "./firebase-config.json:/app/firebase-config.json"
    networks:
      - mivro_network
    restart: unless-stopped

  # prometheus:
  #   image: prom/prometheus:latest
  #   container_name: mivro_prometheus
  #   ports:
  #     - "9090:9090"
  #   volumes:
  #     - "./prometheus.yaml:/etc/prometheus/prometheus.yml"
  #   networks:
  #     - mivro_network
  #   restart: unless-stopped

  # grafana:
  #   image: grafana/grafana:latest
  #   container_name: mivro_grafana
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - mivro_network
  #   restart: unless-stopped

# volumes:
#   mivro_volume:

networks:
  mivro_network:
    driver: bridge
