annotated-types==0.7.0
blinker==1.9.0
CacheControl==0.14.3
cachetools==6.1.0
certifi==2025.7.14
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
cryptography==45.0.5
distlib==0.4.0
filelock==3.18.0
firebase-admin==7.1.0
Flask==3.1.1
Flask-Cors==6.0.1
fuzzywuzzy==0.18.0
google-ai-generativelanguage==0.6.18
google-api-core==2.25.1
google-api-python-client==2.177.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.74.0
grpcio-status==1.74.0
httplib2==0.22.0
identify==2.6.12
idna==3.10
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
Levenshtein==0.27.1
MarkupSafe==3.0.2
msgpack==1.1.1
nodeenv==1.9.1
openfoodfacts==2.8.0
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
prometheus_client==0.22.1
proto-plus==1.26.1
protobuf==6.31.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.37.2
PyJWT==2.10.1
pyparsing==3.2.3
pytest==8.4.1
python-dotenv==1.1.1
python-Levenshtein==0.27.1
PyYAML==6.0.2
RapidFuzz==3.13.0
requests==2.32.4
rsa==4.9.1
tqdm==4.67.1
typing_extensions==4.14.1
uritemplate==4.2.0
urllib3==2.5.0
virtualenv==20.32.0
Werkzeug==3.1.3
